{% extends "base.html" %}
{% block body %}
{% load static %}      
<div class="container"> <!-- 주제가 바뀔 때 마다 컨테이너를 새로 할당 -->
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-primary mb-3" style="max-width: 25rem;">
                <div class="card-header">{{board_name}}리뷰</div>
                {% for board_detail in post %}
                <div class="card-body">
                    <a href="{% url 'board_detail' board_detail.pk %}">
                    <h6 class="card-title">{{board_detail.title}}</h6>
                    </a>
                    <p class="card-text">작성자
                        <a href="{% url 'board_detail' board_detail.pk %}">{{board_detail.writer}}</a><br>
                        {{board_detail.created_at}}
                    </p>
                    <p class="post-counter">
                        <i class="far fa-eye"> {{board_detail.viewCount}}</i>
                        &nbsp;
                        <i class="far fa-thumbs-up"> {{board_detail.likeCount}}</i>
                </div>
                <hr class="my-4" />
                {% endfor %}
            </div>
        </div>
    </div>
</div>        
{% endblock body %}