{% extends "base.html" %}
{% block body %}
{% load static %}      
<div class="container"> <!-- 주제가 바뀔 때 마다 컨테이너를 새로 할당 -->
  <div class="row">
      <div class="col-sm-4"> <!-- Column을 6개 할당해서 Hello HJ를 넣는 것-->
          <h4>직업리뷰</h4>
          <hr class="my-4" />
          {% for job_model in job_models %}
          {% if job_model.img %}
          <div class="post-preview">
            <i class="far fa-image"></i>
            <a href="{% url 'board_detail' job_model.pk %}">
              <h7>{{job_model.title}}</h7> 
            </a>
            <i class="far fa-eye float-md-end"> {{job_model.viewCount}}</i> 
            <!-- <p class="post-meta">
                Posted by
                <a href="#!">HJ</a>
                {{job_model.dateCreate}}
            </p> 
            <p class="post-counter">
                조회수:{{job_model.viewCount}}
            </p>
            -->
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          {% else %}
          <div class="post-preview">
            <a href="{% url 'board_detail' job_model.pk %}">
              <h7>{{job_model.title}}</h7> 
            </a>
            <i class="far fa-eye float-md-end"> {{job_model.viewCount}}</i> 
            <!-- <p class="post-meta">
                Posted by
                <a href="#!">HJ</a>
                {{job_model.dateCreate}}
            </p> 
            <p class="post-counter">
                조회수:{{job_model.viewCount}}
            </p>
            -->
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          {% endif %}
          {% endfor %}
      </div>
      <div class="col-sm-4"> <!-- Column을 6개 할당해서 Hello HJ를 넣는 것-->
          <h4>학과리뷰</h4>
          <hr class="my-4" />
          {% for major_model in major_models %}
          {% if major_model.img %}
          <div class="post-preview">
              <i class="far fa-image"></i>
              <a href="{% url 'board_detail' major_model.pk %}">
                <h7>{{major_model.title}}</h7> 
              </a>
              <i class="far fa-eye float-md-end"> {{major_model.viewCount}}</i> 
              <!-- <p class="post-meta">
                  Posted by
                  <a href="#!">HJ</a>
                  {{major_model.dateCreate}}
              </p> 
              <p class="post-counter">
                  조회수:{{major_model.viewCount}}
              </p>
              -->
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          {% else %}
          <div class="post-preview">
            <a href="{% url 'board_detail' major_model.pk %}">
              <h7>{{major_model.title}}</h7> 
            </a>
            <i class="far fa-eye float-md-end"> {{major_model.viewCount}}</i> 
            <!-- <p class="post-meta">
                Posted by
                <a href="#!">HJ</a>
                {{major_model.dateCreate}}
            </p> 
            <p class="post-counter">
                조회수:{{major_model.viewCount}}
            </p>
            -->
          </div>
        <!-- Divider-->
        <hr class="my-4" />
          {% endif %}
          {% endfor %}
      </div>
      <div class="col-sm-4"></div>
  </div>
</div>        
{% endblock body %}
<!-- 커밋용 의미없는 주석 -->